{
  "swagger": "2.0",
  "info": {
    "description": "Ride-my-way is an online platform where users can order for rides to their individual destination",
    "version": "1.0.0",
    "title": "Ride-my-way",
    "contact": {
      "email": "bosom.adek.sam@gmail.com"
    }
  },
  "host": "ec2-18-220-142-111.us-east-2.compute.amazonaws.com:1994",
  "basePath": "/api",
  "tags": [
    {
      "name": "Users",
      "description": "Everything about users"
    },
    {
      "name": "Ride",
      "description": "Everything about ride"
    },
    {
      "name": "Request",
      "description": "Everything about Request"
    }
  ],
  "schemes": ["http", "https"],
  "paths": {
    "/user/create": {
      "post": {
        "tags": ["Users"],
        "summary": "Create user account",
        "description": "This will create user account",
        "operationId": "createUserAccount",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User object that need to be added to user table",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    },
    "/user/forget": {
      "post": {
        "tags": ["Users"],
        "summary": "forget user password",
        "description": "This will send a link to reset password",
        "operationId": "forgetPassword",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User object that receives email",
            "required": true,
            "schema": {
              "$ref": "#/definitions/forget"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    },
    "/user/reset-password": {
      "put": {
        "tags": ["Users"],
        "summary": "reset user password",
        "description": "This will set user password",
        "operationId": "resetPassword",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "Reset_Token",
            "description": "Reset Token to be passed to query",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "description": "User object that reset password",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    },
    "/user/verify": {
      "patch": {
        "tags": ["Users"],
        "summary": "email verification",
        "description": "This will verify user email",
        "operationId": "verifyUser",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "verify_Token",
            "required": true,
            "description": "verify account query Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    },
    "/user/verify/resend": {
      "post": {
        "tags": ["Users"],
        "summary": "resend verification",
        "description": "This will allow user to resend email verification",
        "operationId": "resendVerifyUser",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User object that receives email",
            "required": true,
            "schema": {
              "$ref": "#/definitions/forget"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": ["Users"],
        "summary": "Login user",
        "description": "Allow users to login to the platform",
        "operationId": "loginUser",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User object that need to be logged in",
            "required": true,
            "schema": {
              "$ref": "#/definitions/login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    },
    "/ride": {
      "get": {
        "tags": ["Ride"],
        "summary": "get all ride",
        "description": "Multiple Ride to be displayed",
        "operationId": "getAllRides",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    },
    "/ride/create": {
      "post": {
        "tags": ["Ride"],
        "summary": "create ride for users",
        "description": "Allow user to create ride",
        "operationId": "createRideOffer",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "description": "Bearer token",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/token"
            }
          },
          {
            "in": "body",
            "name": "body",
            "type": "object",
            "description": "Ride list",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ride"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success Response Format"
          },
          "400": {
            "description": "Failure Response Format"
          }
        }
      }
    },
    "/ride/{rideId}": {
      "get": {
        "tags": ["Ride"],
        "summary": "get One Ride",
        "description": "One Ride to be displayed",
        "operationId": "getOneRide",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "path",
            "name": "rideId",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/params"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    },
    "/ride/delete/{rideId}": {
      "delete": {
        "tags": ["Ride"],
        "summary": "Delete Ride Offer",
        "description": "This will delete Ride",
        "operationId": "deleteRideoffer",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "description": "Bearer token",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/token"
            }
          },
          {
            "in": "path",
            "name": "rideId",
            "description": "params",
            "required": true,
            "schema": {
              "$ref": "#/definitions/params"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    },
    "/request/create/{rideId}": {
      "post": {
        "tags": ["Request"],
        "summary": "create request for users",
        "description": "Allow user to create request",
        "operationId": "requestRide",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "description": "Bearer token",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/token"
            }
          },
          {
            "in": "path",
            "name": "rideId",
            "type": "string",
            "description": "Id of ride",
            "required": true,
            "schema": {
              "$ref": "#/definitions/params"
            }
          },
          {
            "in": "body",
            "name": "body",
            "type": "object",
            "description": "Request list",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success Response Format"
          },
          "400": {
            "description": "Failure Response Format"
          }
        }
      }
    },
    "/request/ride": {
      "get": {
        "tags": ["Request"],
        "summary": "get request to a ride",
        "description": "All Request to be displayed to a ride",
        "operationId": "getAllRequestToRide",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "description": "Bearer token",
            "required": true,
            "type": "string",
            "schema": {
              "$ref": "#/definitions/token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response Format",
            "schema": {
              "$ref": "#/definitions/SuccessApiResponseFormat"
            }
          },
          "400": {
            "description": "Failure Response Format",
            "schema": {
              "$ref": "#/definitions/FailedApiResponseFormat"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "params": {
      "types": "string",
      "example": "5f70be16fb7060031581ccd8"
    },
    "token": {
      "type": "string",
      "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVmNzBiMDMxNmJmMDBjZDYxMTY2YzJjMyIsImlhdCI6MTYwMTcyMDQ4MCwiZXhwIjoxNjAxODA2ODgwfQ.oFKICFfzZw4eQYsCP23ztXS2hmQaAsx6ioPuUgzUlP0"
    },
    "ride": {
      "type": "object",
      "properties": {
        "departure": {
          "type": "string",
          "example": "abule-oja"
        },
        "destination": {
          "type": "string",
          "example": "island"
        },
        "message":{
          "type":"string",
          "example": "So no lapping"
        },
        "seats": {
          "type": "integer",
          "example": 4
        },
        "time": {
          "type": "string",
          "example": "12:00"
        },
        "cost":{
          "type": "int32",
          "example": 20.00
        },
        "date": {
          "type": "string",
          "example": "27/10/2020"
        }
      }
    },
    "request": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "example": "Please dont arrive late"
        }
      }
    },
    "reset": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "example": "password"
        }
      }
    },
    "forget": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "example": "bosom.adek.sam@gmail.com"
        }
      }
    },
    "user": {
      "type": "object",
      "properties": {
        "fullName": {
          "type": "string",
          "example": "Bosom Adekunle"
        },
        "username": {
          "type": "string",
          "example": "Bosom12"
        },
        "phoneNumber": {
          "type": "string",
          "example": "+2348160178764"
        },
        "email": {
          "type": "string",
          "example": "bosom.adek.sam@gmail.com"
        },
        "password": {
          "type": "string",
          "format": "password",
          "example": "password"
        }
      }
    },
    "login": {
      "type": "object",
      "properties": {
        "dataField": {
          "type": "string",
          "example": "bosom.adek.sam@gmail.com"
        },
        "password": {
          "type": "string",
          "example": "password"
        }
      }
    },
    "SuccessApiResponseFormat": {
      "type":"object",
      "properties":{
        "message": {
          "type":"string"
        },
        "data": {
          "type":"object"
        }
      }
    },
    "FailedApiResponseFormat": {
      "type":"object",
      "properties":{
        "message": {
          "type":"string"
        },
        "error": {
          "type":"object"
        }
      }
    }
  },
  "externalDocs": {
    "description": "README.md file for project",
    "url": "https://github.com/bosom12/Ride-my-way/blob/master/README.md"
  }
}
